.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.keyboard__row {
    display: flex;
    justify-content: space-between;
    height: 3em;
    flex-wrap: wrap;
//margin: 0.2em;
    margin-bottom: 10px;
}


.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.bottom .center{
    width: 60%;
}


.keyboard__row > * {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    border-radius: 0.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    box-shadow: 0 0.1em 0 0.02em #222;
    border-bottom-color: #555;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key--letter {
    font-size: 0.8em;
    line-height: 2.8em;
    width: 32px;
}

.key--double > * {
    padding-top: 0.1em;
}

.key--double  {
    width: 71px;
    margin: 0.1em;
}

.keyboard > .keyboard__row {
    text-align: center;
}

.answer{
    font-size: 26px;
    text-align: center;
    box-shadow: 0 4px rgba(206, 23, 23, 0.2);
    background-color: #363e31;
}


.active{
    border: 3px solid #73adff;
    z-index: 2;
}



ionCol{
    z-index: 1;
}

